<ion-content>
  <div class="backCss">
  <div class="top">
      <img src="assets/images/SocioEmpathy_Blue.png" />  
  </div>
  <!-- Social Login Buttons -->
  <div class="bottom">
    <div class="wew">
    <div class="buttons" *ngIf="mode == 'main'">
      <div>
          <div class="form">
              <!-- <button class="clear" ion-button icon-only tappable (click)="mode = 'main'"><ion-icon name="md-close"></ion-icon></button> -->
              <form [formGroup]="emailPasswordForm">
                  <ion-list>
                    <ion-item>
                      <ion-label color="theblues" stacked>Email Psikolog</ion-label>
                      <ion-input color="theblues" type="email" formControlName="email" placeholder="Enter your Email"></ion-input>
                    </ion-item>
                  
                    <ion-item>
                      <ion-label color="theblues" stacked>Password</ion-label>
                      <ion-input color="theblues" type="password" formControlName="password" placeholder="Enter your Password"></ion-input>
                    </ion-item>                    
                  </ion-list>
                <button ion-button color="primary" tappable (click)="login()" [disabled]="!emailPasswordForm.valid">LOGIN</button>
              </form>
              <p tappable (click)="clearForms(); mode = 'forgotPassword'" style="color:#fff;">Forgot your Password?</p>
              <!-- <button ion-button color="light" tappable (click)="signUp()">SIGN UP</button> -->
            </div>
<!--    <button ion-button icon-left class="facebook" tappable (click)="loginProvider.facebookLogin()"><ion-icon name="logo-facebook"></ion-icon>Continue with Facebook</button>
        <button ion-button icon-left class="google" tappable (click)="loginProvider.googleLogin()"><ion-icon name="logo-google"></ion-icon>Continue with Google</button>
        <button ion-button icon-left class="secondary" tappable (click)="loginProvider.guestLogin()"><ion-icon name="happy"></ion-icon>Continue as Guest</button> -->
        <!-- <button ion-button icon-left class="dark" tappable (click)="clearForms(); mode = 'register'"><ion-icon name="md-mail-open"></ion-icon>Signup with Email</button> -->
        <p class="dark" tappable (click)="clearForms(); mode = 'register'" style="color:#fff;">Don't have an account? <b>Sign Up</b></p>
      </div>
    </div>
    </div>
    <!-- Login Form -->

    <!-- Registration Form -->
    <div class="register" *ngIf="mode == 'register'">
      <button class="clear" ion-button icon-only tappable (click)="mode = 'main'"><ion-icon name="md-close"></ion-icon></button>
      <form [formGroup]="emailPasswordForm">
        <ion-list>
          <ion-item>
            <ion-label class="whiteCss">Email</ion-label> 
            <ion-input type="email" formControlName="email" placeholder="Your Email Address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="whiteCss">Phone</ion-label> 
           <ion-input type="number" [(ngModel)]="phoneNumber" formControlName="phone" placeholder="Enter your Phone Number" [textMask]="{mask: masks.phoneNumber}"></ion-input>
         </ion-item>
          <ion-item>
            <ion-label class="whiteCss">Gender</ion-label> 
            <ion-select formControlName="gender" placeholder="Select Your Role" style="margin-right:27%; color:black">
                <ion-option style="margin-right:80%; color:black" value="Male">Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-option>
                <ion-option style="margin-right:80%; color:black" value="Female">Female&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-option>
              </ion-select> 
          </ion-item>
          <ion-item>
              <ion-label class="whiteCss">Role</ion-label> 
              <ion-select formControlName="role" placeholder="Select Your Role" style="margin-right:27%; color:black">
                  <ion-option style="margin-right:80%; color:black" value="Regular User">Regular User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-option>
                  <ion-option style="margin-right:80%; color:black" value="Psychology Student">Psychology Student&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-option>
                  <ion-option style="margin-right:80%; color:black" value="Junior Psychologist">Junior Psychologist&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-option>
                  <ion-option style="margin-right:80%; color:black" value="Senior Psychologist">Senior Psychologist&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-option>
              </ion-select> 
          </ion-item>
          <ion-item>
             <ion-label class="whiteCss">Password</ion-label> 
            <ion-input type="password" formControlName="password" placeholder="Create A Password"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button class="light" tappable (click)="register()" [disabled]="!emailPasswordForm.valid">REGISTER</button>
      </form>
      
    </div>
    <!-- Forgot Password Form -->
    <div class="register" *ngIf="mode == 'forgotPassword'">
      <button class="clear" ion-button icon-only tappable (click)="clearForms(); mode = 'main'"><ion-icon name="md-close"></ion-icon></button>
      <form [formGroup]="emailForm">
        <ion-list>
          <ion-item no-lines>
            <ion-label class="whiteCss">Email</ion-label>
            <ion-input type="email" formControlName="email" placeholder="Your Email Address"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button icon-left class="light" tappable (click)="forgotPassword()" [disabled]="!emailForm.valid"><ion-icon name="md-unlock"></ion-icon>Reset Password</button>
      </form>
      <p class="whiteCss" tappable (click)="clearForms(); mode = 'main'">Password found? <b>Log in</b></p>
      
    </div>
  </div>
  </div>
</ion-content>
