<ion-content>
  <div class="backCss">
  <div class="top">
      <img src="assets/images/SocioEmpathy_Blue.png" />  
  </div>
  <!-- Social Login Buttons -->
  <div class="bottom">
    <div class="wew">
    <div class="buttons" *ngIf="mode == 'main'">
      <div>
          <div class="form">
          <!-- <button class="clear" ion-button icon-only tappable (click)="mode = 'main'"><ion-icon name="md-close"></ion-icon></button> -->
          <form [formGroup]="emailPasswordForm">
              <ion-list>
                <ion-item>
                  <ion-label color="theblues" stacked>Email</ion-label>
                  <ion-input color="theblues" type="email" formControlName="email" placeholder="Masukkan Email"></ion-input>
                </ion-item>
              
                <ion-item>
                  <ion-label color="theblues" stacked>Password</ion-label>
                  <ion-input color="theblues" type="password" formControlName="password" placeholder="Masukkan Password"></ion-input>
                </ion-item>                    
              </ion-list>
            <button ion-button color="primary" tappable (click)="login()" [disabled]="!emailPasswordForm.valid">LOGIN</button>
          </form>
          <br>
          <span tappable (click)="clearForms(); mode = 'forgotPassword'" class="forgotPassword">Forgot your Password?</span>
          <br>
          <br>
          <button ion-button class="btn-signup" tappable (click)="signUp()">SIGN UP</button>
        </div>
      </div>
    </div>
    </div>
      <!-- Forgot Password Form -->
    <div class="form" *ngIf="mode == 'forgotPassword'">
        <form [formGroup]="emailForm">
          <ion-list>
            <ion-item no-lines>
              <ion-label>Email</ion-label>
              <ion-input type="email" formControlName="email" placeholder="Masukkan Email"></ion-input>
            </ion-item>
          </ion-list>
          <button ion-button icon-left class="dark" tappable (click)="forgotPassword()" [disabled]="!emailForm.valid"><ion-icon name="md-unlock"></ion-icon>Reset Password</button>
        </form>
        <p tappable (click)="clearForms(); mode = 'main'">Ingat Password? <b>Login</b></p>
      </div>
  </div>
</div>
</ion-content>
