page-achievement {
    .css-gender {
        margin-right: auto;
        margin-left: auto;
        height: 300px;
        width: 300px;
        background-color:black;
        position: fixed;
    }

    .alert{
        text-align: left;
    }
    ion-col {
        border: solid;
        height: 50px;
    }
}
