<ion-header>
  <ion-navbar hideBackButton="false">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content has-footer>
    <!-- Problem -->
    <!-- <div class="problems">
      <span class="field-problem">Keluhan :</span><br>
      <span>Masalah mental ketika orangtua bercerai ingin bunuh diri</span>
    </div>     -->
  <!-- Messages -->
  <div class="messages">
    <p class="center" *ngIf="startIndex > 0"><span tappable (click)="loadPreviousMessages()">Load previous messages</span></p>
    <ion-row *ngFor="let message of messagesToShow">
      <!--  Message -->
      <ion-col col-2 class="center" *ngIf="isSender(message)">
        <img src="{{message.avatar}}" (load)="doScroll()" />
      </ion-col>
      <ion-col col-1 *ngIf="!isSender(message)">
      </ion-col>
      <ion-col col-9 class="sender" *ngIf="isSender(message)">
        <div class="left" *ngIf="message.type == 'text'">
          <p>{{message.message}}</p>
          <span>{{message.date | DateFormat}}</span>
        </div>
        <div class="left" *ngIf="message.type == 'image'">
          <img tappable (click)="enlargeImage(message.url)" src="{{message.url}}" (load)="doScroll()" />
          <span>{{message.date | DateFormat}}</span>
        </div>
      </ion-col>
      <ion-col col-9 *ngIf="!isSender(message)">
        <div class="right" *ngIf="message.type == 'text'">
          <p>{{message.message}}</p>
          <span>{{message.date | DateFormat}}</span>
        </div>
        <div class="left" *ngIf="message.type == 'image'">
          <img tappable (click)="enlargeImage(message.url)" src="{{message.url}}" (load)="doScroll()" />
          <span>{{message.date | DateFormat}}</span>
        </div>
      </ion-col>
      <ion-col col-1 *ngIf="isSender(message)">
      </ion-col>
      <ion-col col-2 class="center" *ngIf="!isSender(message)">
        <img src="{{message.avatar}}" tappable (click)="viewUser(message.sender)" (load)="doScroll()" />
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<!-- Message Box -->
<ion-footer *ngIf="displayTime  !== 'timeover' || displayTime  !== 'notyetready' || confirmation!= 'waiting' ">
  <div class="bottom_bar">
    <!-- <ion-fab middle left>
      <button ion-fab mini tappable (click)="sendPhoto()"><ion-icon name="md-camera"></ion-icon></button>
    </ion-fab> -->
    <ion-textarea type="text" placeholder="Type your message" [(ngModel)]="message" (focus)="scrollBottom()" (keypress)="onType($event.keyCode)"></ion-textarea>
    <ion-fab middle right>
      <button ion-fab mini tappable (click)="send()" [disabled]="!message">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-footer>
<ion-footer *ngIf="displayTime  == 'timeover' && confirmation!= 'waiting' ">
  <div class="session_end">Your session is ended with your client.</div>
</ion-footer>
<ion-footer *ngIf="displayTime  == 'notyetready' && confirmation!= 'waiting'">
  <div class="session_end">Your session not yet ready. </div>
</ion-footer>
<ion-footer *ngIf="confirmation  == 'waiting'">
  <div class="session_end">waiting confirmation. </div>
</ion-footer>
