page-dynamiclink {
.profile {
    position: relative;
    overflow: hidden;
    height: 24vh;
    margin-bottom: -0.625em;

    img {
      width: 28vw;
      height: 28vw;
      border-radius: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      object-fit: cover;
    }

    img.activated {
      opacity: 0.5;
    }
  }

}
