page-friends {
    .premiumCss {
        background: #ffcd00;
        // background: yellowgreen;
        color: white;
        padding: 5px;
        font-size: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .socioCss {
        height: 50%;
        width: 50%;
        margin-left: 10px;
        margin-top: 5px;
    }
}