page-payment {
    .marginCss {
        margin:10px;
    }
    .cardCss {
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .orangeCss {
        text-align: center;
        color: #F8D85D;
    }
    .imgCss {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        height:180px;
        width: 180px;
    }
    ion-thumbnail .iconLoveCss {
        height: 50px;
        width: 50px;
    }



}
