page-lovestore {
    .blue{
        color:#0074d9;
    }
    .butt{
        height: 110px;
       // width:100%;
    }
    .iconz{
        margin-left: -110px;
        margin-top: 60px;
        font-size:50px;
    }
    .fontz{
        margin-top:30px;
    }
}
